/* ::-webkit-scrollbar {
    width: .3em !important;
  }
  /* ::-webkit-scrollbar-track {
    background-color: red !important;
  } */
  ::-webkit-scrollbar-thumb {
    background-color: #3e479d !important;
    outline: 3px solid slategrey !important;
  } */

body {
    /* font-family: 'Noto Sans', sans-serif; */
    /* font-family: 'Hind Siliguri', sans-serif; */
    /* font-family: 'Cabin', sans-serif; */
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    position: relative;
    overflow-y: auto
};
/* width */
head {
    overflow-x:hidden;
}
.active {
    color:#4a90e2
}
.inactive {
    color:#6a6c7f
}
.active,
.inactive {
    transition: 200ms ease;
}
.sidebar:after,
  .off-canvas-sidebar:after {
    background: #3e479d;
  }
.mainsidebar {
    background-color: red !important;
    border-width: 0;
}
.mainsidebar:hover {
    background-color: red !important;
    border-width: 0;
}
.navbarside {
    width: 8rem;
    height: 100vh;
    position: fixed;
    background-color: #24262a;
    transition: 200ms ease;
    box-shadow: 0px 0px 15px #00000013;
}
.navbarside:hover{
    width: 16rem;
    box-shadow: 0px 0px 15px #00000043;
}
.navbarside:hover .sidelink-text {
    font-weight: 600;
    font-size: medium;
}
.navbarside:hover .sidelink-text-active {
    font-weight: 600;
    font-size: medium;
}
.navbarside:hover .sidelink-subtext {
    display: block;
}
.navbarside-nav {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    font-size: small;
}
.navside-item {
    width: 100%;
}
.navside-link {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    filter: grayscale(0%) opacity(.7);
    transition: 200ms ease;
    padding:.5rem;
    /* border-bottom: solid 1px;
    border-bottom-color: #FFFFFF20; */
}
.navside-link-active {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7.5rem;
    filter: grayscale(0%) opacity(.7);
    transition: 200ms ease;
    padding:.5rem;
    background-image: linear-gradient(to right, #3E479D60, #2d3035, #23272A);
    /* border-bottom: solid 1px;
    border-bottom-color: #FFFFFF02; */
}
.navside-link:hover {
    filter: grayscale(0%) opacity(1);
    text-decoration: none;
    background: #2d3035;
    background-image: linear-gradient(to right, #3E479D60, #2d3035, #2d3035);
}
.navside-link:hover .sidelink-text{
    color:#4a90e2;
}
.sidelink-text {
    font-weight: 600;
    color:#FFFFFF50;
    transition: 200ms ease;
}
.sidelink-text-active {
    font-weight: 600;
    color:#4a90e2;
    transition: 200ms ease;
}

.sidelink-subtext {
    display: none;
    font-size: small;
    transition: 200ms ease;
    color:#FFFFFF30;
}
.card-shadow {
    box-shadow: 0px 5px 10px #00000013;
}
.rubik {
    font-family: 'Poppins', sans-serif;
}
.sidebar {
    background-color: red;
}
.blue {
    color:#3D526C;
    background-color: #3D526C;
}
.green {
    background-color:#97C35E;
}
.blue-text {
    color:#3D526C;
}
.cardhead {
    color:'#36213E',
}
.input-category {
    color:hsl(0, 0%, 51%);
    font-size: small;
    margin-bottom:4px;
    margin-top:6px;
}
.grow {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grow:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}
.grow-small {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grow-small:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.01);
    transform: scale(1.01);
}
.grow-big {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.grow-big:hover {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.03);
    transform: scale(1.1);
}
.grow-shadow {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 15px #00000013;
  }
  
.grow-shadow:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    box-shadow: 0px 10px 25px #00000023;
  }

.transaction-selected {
    border: solid 2px #FBC658
}
.linking-selected {
    border: solid 2px rgb(107,208,152)
}
.reconcile-selected {
    border: solid 2px rgb(239,128,87)
}
.strategies-selected {
    border: solid 2px rgb(61,81,108)
}

.tablerow {
    border-right: 0;
}
.labeltext {
    color:#5a5b5d;
    font-weight: 600;
    transition: 200ms ease;
    margin-top: 1rem;
}

.smalltab {
    color:#5a5b5d;
    margin-right: 1rem;
    font-weight: 600;
    transition: 200ms ease;
    font-size: medium;
    /* border-bottom:solid;
    border-bottom-width: 1;
    border-bottom-color: transparent; */
    cursor: pointer;
}
.smalltab:hover {
    color:#1c8cff;
    transition: 200ms ease;
    /* border-bottom-color: #1c8cff; */
}
.smalltab2 {
    color:#5a5b5d;
    font-size: medium;
    margin-right: 1rem;
    font-weight: 500;
    transition: 200ms ease;
    cursor: pointer;
}
.smalltab2:hover {
    color:#1c8cff;
    /* -webkit-transform: scale(1.15);
    -ms-transform: scale(1.03);
    transform: scale(1.5); */
    /* border-bottom-color: #1c8cff; */
}
.smalltab-active {
    color:#1c8cff;
    margin-right: 1rem;
    font-weight: 600;
    border-bottom:solid 2px;
    font-size: medium;
    /* border-bottom-width: 1;
    border-bottom-color:#1c8cff;
    border-bottom-right-radius: 5; */
    transition: 200ms ease;
    cursor: pointer;
}
.input-range__track--active,
.input-range__slider {
    background: #4a90e2 !important;
    border-color: #4a90e2 !important;
} 
.smalltab2-active {
    color:#1c8cff;
    font-size: medium;
    margin-right: 1rem;
    font-weight: 500;
    transition: 200ms ease;
    cursor: pointer;
}

.inputlabel {
    color:#5a5b5d;
    font-weight: 600;
    transition: 200ms ease;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202125 ;
    border:solid;
    border-radius: 2rem;
    border-color:#4a90e2 ;
    color:#4a90e2 ;
    padding:1rem ;
    padding-top:.5rem ;
    padding-bottom:.5rem ;
    font-weight: 600;
    margin: .5rem;
    margin-left: 15%;
    margin-right: 15%;
    transition: 400ms ease;
    cursor: pointer;
}
.button:hover {
    background-color: #4a90e2 ;
    border-color:#4a90e2 ;
    color:white ;
}
.button-red {
    display: flex;
    align-items: center;
    justify-content: center;
    border:solid;
    border-radius: 2rem;
    border-color:#EF8256 ;
    color:#EF8256 ;
    padding:1rem ;
    padding-top:.5rem ;
    padding-bottom:.5rem ;
    font-weight: 600;
    margin: .5rem;
    margin-left: 15%;
    margin-right: 15%;
    transition: 400ms ease;
    cursor: pointer;
}
.button-red:hover {
    background-color: #EF8256 ;
    border-color:#EF8256 ;
    color:white ;
}
.button-solid {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4a90e2 ;
    border:solid;
    border-radius: 2rem;
    border-color:#4a90e2 ;
    color:white ;
    padding:1rem ;
    padding-top:.5rem ;
    padding-bottom:.5rem ;
    font-weight: 600;
    margin: .5rem;
    margin-left: 15%;
    margin-right: 15%;
    cursor: pointer;
}

.typeselector {
    color:#5a5b5d;
    margin: 1rem;
    margin-bottom: .5rem;
    margin-left: 0;
    font-weight: 700;
    transition: 200ms ease;
    border-bottom:solid;
    border-bottom-width: 1;
    border-bottom-color: transparent;
    cursor: pointer;
}

.report-list {
    list-style: none;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
    margin-top:-2rem
}
.report-listitemactive {
    padding:0;
    margin-right:1rem;
    transition: 400ms ease;
    color:#4a90e2;
    border-bottom:solid;
    border-color: #202225;
    cursor: pointer;
}
.report-listitemactive :hover {
    color:#4a90e2;
    transition: 400ms ease;
    border-bottom:solid;
}
.report-listitem {
    padding:0;
    margin-right:1rem;
    color:#FFFFFF50;
    transition: 400ms ease;
    border-bottom:solid;
    border-color: #202225;
    cursor: pointer;
}
.report-listitem :hover {
    color:#4a90e2;
    transition: 400ms ease;
    border-bottom:solid;
}
.bgtext{
    background-color:#27292D;
     color:#4a90e2
}
.reports {
    list-style: none;
    margin:0;
    padding:0;
    padding-right: 2%;
}
.report-header {
    margin:0;
    padding-top:2rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-id {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 1rem;

}
.header-date {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
}
.header-recipient {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.header-status {
    flex:.3;
    color:white;
    padding-right: 1rem;
}
.reports-table {
    list-style: none;
    margin:0;
    padding:0;
    padding-right: 2%;
    overflow-y: scroll;
    height: 65vh;
}
.report {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: solid;
    border-color:#FFFFFF50;
    border-top-width: 1px;
    color:#FFFFFF80
}
.report-id {
    flex:1;
    display: flex;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;

}
.report-date {
    flex:1;
    display: flex;
    align-items: center;
}
.report-recipient {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.report-download {
    flex:.1;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}
.report-status {
    flex:.2;
    display: flex;
    align-items: center;
    color: #6CD097;
}
.report:hover .report-id {
    background: #27292D;
    transition: 400ms ease;
    color:white
}
.report:hover .report-date {
    background: #27292D;
    transition: 400ms ease;
    color:white
}
.report:hover .report-recipient {
    background: #27292D;
    transition: 400ms ease;
    color:white
}
.report:hover .report-download {
    background: #27292D;
    transition: 400ms ease;
    color:white
}
.report:hover .report-status {
    background: #27292D;
    transition: 400ms ease;
}
.datefilter {
    color:#FFFFFF50;
    font-size: smaller;
    background-color: #202125;
    padding: .5rem .5rem .5rem .5rem;
    /* width: 30%; */
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    margin:.2rem;
    cursor: pointer;
    width: 6rem;
}
.datefilter:hover {
    color:#1c8cff;
    background-image: linear-gradient(to right, #5460d160, #5460d160, #5460d160);
    font-weight: 600;
    transition: 400ms ease;
}

.positions {
    list-style: none;
}
.positions-list {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;
    width: 100%;
    border-radius: .25rem;
    background-color: #27282d;
}
.positions-listitem {
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
}
.positions-listitem i {
    color: #27292D;
    transition: 400ms ease;
}
.positions-listitem:hover i {
    color: white;
}
.positions-listitem:hover {
    background-color: #FFFFFF10;
}
.positions-listitem-pair {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    padding-left: .5rem;
    padding-right: .5rem;
    border-radius: .25rem;
    background-image: linear-gradient(to right, #23272A, #2d303500, #23272A);
    margin-bottom: 1em;
    padding-top:.25em;
    padding-bottom:.25em;
    box-shadow: 0px 5px 10px #00000013;
    border: 1px #FFFFFF00 solid;
}
.positions-listitem-pair i {
    color: #27292D;
    transition: 400ms ease;
}
.positions-listitem-pair:hover i {
    color: white;
}
.pair {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.positions-listitem-pair:hover {
    background-color: #FFFFFF10;
    border: 1px #FFFFFF20 solid;
}
.positions-header {
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.positions-head {
    color:#FFFFFF50;
    flex:1;
    display:flex;

}
.positions-row {
    color:white;
    flex:1;
    display:flex;
}
.positions-head-sm {
    color:#FFFFFF50;
    flex:.5;
    display:flex;

}
.positions-row-sm {
    color:white;
    flex:.5;
    display:flex;
}





.head1 {
    color: white;
    font-size:1.5rem
}

.linking {
    list-style: none;
    margin:0;
    padding:0;
    padding-right: 2%;
}
.linking-1 {
    margin:0;
    padding-top:2rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.linking-2 {
    flex: .5;
    display: flex;
    align-items: center;
    color: white;
}
.linking-3 {
    flex: 1;
    display: flex;
    align-items: center;
    color: white;
}
.linking-4 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
}
.linking-5 {
    flex:.3;
    display: flex;
    justify-content: flex-end;
    color:white;
    padding-right: 1rem;
}
.linking-1a {
    margin:0;
    padding-top:2rem;
    padding-bottom:2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: -1rem;
    padding-left: 1rem;
}
.group {
    border-radius: 1rem;
    background-color: #27282d;
    margin-left: -1rem;
    padding-left: 1rem;
    margin-bottom:1rem;
}

.card-openclosed {
    /* background-color:#27292D; */
    background-color: #202125;
    border: #FFFFFF20 solid 1px;
    border-radius: .75rem;
    color:white;
    padding:1rem; 
}
.card-openclosed h4 {
    font-size: 1rem;
    margin-top:0; 
    margin-bottom:.5rem
}
.card-openclosed hr {
    margin-top:.5rem; 
    margin-bottom:.5rem
}
.homecard {
    background-color:#27292D;
    border-radius: .75rem;
    color:white;
    padding:1rem;  
}
.homecard h4 {
    font-size: 1rem;
    margin-top:0; 
    margin-bottom:0
}
.homecard hr {
    margin-top:.5rem; 
    margin-bottom:.5rem
}
.homecard-data {
    display: flex;
    justify-content: space-between;
    text-align: end; 

}
.homecard-data h3 {
    margin-top:.45rem;
    margin-bottom:-.25rem
    
}
.homecard-data h3 span {
    font-size: medium;
    font-weight: 600;
}
.homecard-data label {
    font-size: smaller;
    font-weight: 600;
    color:#FFFFFF50
    
}
.green {
    color:#1DFE37;
    background-color: transparent;
}
.todaystable-header {
    border-radius: .5rem;
    background-color: #27282d;
    border-bottom-width: 0;
    padding:.5rem
}
.white {
    color:white
}

.button-table {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202125 ;
    border:solid;
    border-radius: 2rem;
    border-color:#4a90e2 ;
    color:#4a90e2 ;
    padding:1rem ;
    margin-left: .5rem;
    padding-top:.5rem ;
    padding-bottom:.5rem ;
    font-weight: 600;
    margin-top:-.2rem;
    transition: 400ms ease;
    cursor: pointer;
}
.button-table:hover {
    background-color: #4a90e2 ;
    border-color:#4a90e2 ;
    color:white ;
}

.select-table {
    padding-left: .5rem;
    width: 10rem;
    color:white !important
}

.buy {
    padding:1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 600;
    color:#5A5B5D;
    border: solid 1px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    font-size: small;
    margin-right: -1px;
    cursor:'pointer';
    transition: 200ms ease;


}
.buy:hover{
    color:#1c8cff;
    border-color: #1c8cff;
    z-index: +1;
}
.both {
    padding:1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 600;
    color:#5A5B5D;
    border: solid 1px;
    font-size: small;
    margin-left: -1px;
    margin-right: -1px;
    cursor:'pointer';
    transition: 200ms ease;
}

.both:hover{
    color:#1c8cff;
    border-color: #1c8cff;
    z-index: +1;
}
.sell {
    padding:1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 600;
    color:#5A5B5D;
    border: solid 1px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    font-size: small;
    cursor:'pointer';
    transition: 200ms ease;


}
.sell:hover{
    color:#1c8cff;
    border-color: #1c8cff;
    z-index: +1;
}

.tributton-selected {
    background-color:#1c8cff;
    color:white;
    border-color: #1c8cff;
    z-index: +1;
    transition: 200ms ease;
}
.tributton-selected:hover{
    color: white;
}

.search-textinput {
    background-color: #27292D;
    color:white;
    border:none;
    border-bottom: solid 2px #FFFFFF20;
    padding:.5rem;
    font-size: small;
    padding-top: .55rem; 
    padding-bottom: .55rem;
    font-family: 'Poppins';
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.search-textinput:focus {
    background-color: #202125;
    color:#1c8cff;
    border: none;
    border-bottom: solid 2px #1c8cff;
}

.search-selectinput {
    background-color: #27292D;
    color:#FFFFFF99;
    border:none
}

.react-select__control {
    border:none !important;
    font-family: 'Poppins';

}
.react-select .react-select__control .react-select__value-container--has-value .react-select__single-value {
    color:white;
    font-size: .82rem;
    margin-left: 0rem !important;
    margin-top: .06rem;
}

.react-select .react-select__control {
    border-radius: .5rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: solid 2px #FFFFFF20 !important;

}

.react-select .react-select__control--menu-is-open {
    background-color: #202125 !important;
    border-radius: .5rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: solid 2px #1c8cff !important;
    transition: 300ms ease !important;

}

.react-select .react-select__control .react-select__placeholder {
    color:#6C757D !important;
    font-size: .82rem;
    margin-top: .06rem;
}

.rangeinput {
    padding-left: .5rem;
    padding-right: .5rem;
}
.search-numberinput {
    background-color: #27292D;
    /* color:#FFFFFF99; */
    padding:.5rem;
    font-size: small;
    padding-top: .55rem; 
    padding-bottom: .55rem;
    font-family: 'Poppins';
    border-radius: .25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border:0;
    border-bottom: solid 2px #FFFFFF20 !important;
}
.search-numberinput:focus {
    background-color: #202125;
    color:#1c8cff;
    border-radius: .25rem !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border:0;
    border-bottom: solid 2px #1c8cff !important;
}


.ellipsis {
    display: block;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1rem;
    width: 95%;
  }
  .ellipsis-md {
    display: block;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1rem;
    width: 80%;
  }
  .ellipsis-sm {
    display: block;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1rem;
    width: 50%;
  }

LOGO 
.sidebar .logo .simple-text .logo-img {
    background-color: red !important; }

/* CHECKBOX */
.btn-group .btn:focus {
    background-color: #4a90e2 !important ;
}
.btn.disabled {
    background-color: #4a90e2;
    color: #f1f1f1;
}
/* DATE PICKER */
.rdtPicker {
    background-color: #202225;
}
.rdtPicker .dow {
    color: #f1f1f1;
    font-weight: bold !important;
}
.rdtDay {
    color:#f1f1f1
}
.rdtDays tr .rdtOld, .rdtDays tr .rdtNew {
    color:#f1f1f150 !important
}
  /* TEXT FIELDS */
  .form-control {
    background-color: #00000010;
    border:none;
    border-bottom: 2px solid #FFFFFF20;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #f1f1f1;
    line-height: normal;
    font-size: 14px;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .form-control:focus {
      border:none;
      border-bottom: 2px solid #4a90e2;
        border-radius: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: 0 !important;
      background-color: #00000050;
      color: #f1f1f1; }
  .form-control[disabled] {
    background-color: #00000010;
    border:none;
    border-bottom: 2px solid #FFFFFF20;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #f1f1f1;
    line-height: normal;
    font-size: 14px;
    -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    -webkit-box-shadow: none;
    box-shadow: none; }